.AddProfile {
    width: 100%;
    height: 100%;
    display: flex;
}

.AddProfile-left {
    flex: 1;
}

.AddProfile-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid lightgrey;
}

.AddProfile-form {
    height: 60%;
    width: 40%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px lightgray;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.AddProfile-header {
    margin-top: 30%;
}

.AddProfile-username {
    margin-top: 20%;
}

.AddProfile-buttons {
    margin-top: 5%;
}