.container {
    height: 100%;
    width: 100%;
    display: flex;
    overflow-y: auto;
}

.left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftPicker {
    height: 70vh;
    width: min(30vw, 300px);
}

.right {
    height: 100%;
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rightContentContainer {
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightContent {
    padding-right: min(5vw, 70px);
    padding-left: min(5vw, 70px);
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.headerText {
    color: grey;
    padding-bottom: 4vh;
}

.platforms {
    display: flex;
}

.platform {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 15vh;
    border-radius: 4px;
    padding-left: 5px;
    padding-right: 5px;
    flex: 1
}

.platformInner {
    margin: 5%;
    border-radius: 10px;
    height: 90%;
    width: min(50vw, 240px);
    display: flex;
    flex-direction: column;
}

.platformLogoNameContainer {
    display: flex;
    justify-content: center;
    height: 50%;
}

.platformLogoName {
    display: flex;
    margin-top: 10%;
}

.platformLogo {
    width: 30%;
    max-width: 60px;
}

.platformName {
    padding-left: 5%;
    font-size: large;
    display: flex;
    align-items: center;
}

.platformPlus {
    padding-top: 10%;
}

.button {
    height: 10%;
    margin-top: 8vh;
}

@media only screen and (max-device-width: 600px) {
    .container {
        flex-direction: column;
    }

    .right {
        margin-bottom: 20vh;
    }

    .leftPicker {
        width: 80vw;
        height: 80%;
    }

    .rightContentContainer {
        width: 80vw;
    }
}