.container {
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
}

.left {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid lightgrey;
    flex: 1;
}

.right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid lightgrey;
    flex: 1;
    flex-direction: column;
}

.contentLeft {
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px lightgray;
    width: 70%;
    max-height: 80vh;
    overflow-y: auto;
}

.contentRight {
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px lightgray;
    width: 60%;
}

.header {
    width: 94%;
    margin-top: 2vh;
    margin-left: 3%;
    margin-right: 3%;
    margin-right: 10px;
}

.title {
    width: 100%;
    align-items: center;
    color: grey;
    text-align: center;
    margin-top: 5px;
}

.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.formContent {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.error {
    font-size: 40%;
    color: red;
}

.logo {
    height: 50%;
    width: 12%;
}

.username {
}

.buttons {
}

.profiles {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.profile {
    width: 60%;
    height: 10vh;
}

.privacyPolicy {
    margin-top: 3%;
}

.googleButtonContainer {
    height: 5vh;
}

.googleButton {
    object-fit: contain;
    height: 0;
    min-height: 100%;
    cursor: pointer;
}

@media only screen and (max-device-width: 600px) {
    .content {
        flex-direction: column-reverse;
    }

    .left {
        width: 100%;
    }

    .right {
        width: 100%;
    }

    .contentLeft {
        width: 80vw;
        max-height: 40vh;
    }

    .contentRight {
        width: 80vw;
    }
}