.container {
    overflow-y: auto;
    height: 100vh;
    width: 100vw;
}

.content {
    height: 100%;
    width: 100%;
    display: flex;
}

.left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftPicker {
    height: 70vh;
    width: min(30vw, 300px);
}

.right {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rightContentContainer {
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightContent {
    padding-right: min(5vw, 70px);
    padding-left: min(5vw, 70px);
    padding-top: 2vh;
    padding-bottom: 2vh;
    display: flex;
    flex-direction: column;
}

.headerText {
    color: grey;
    margin-bottom: 4vh;
}

.platforms {
    max-height: 60vh;
    overflow-y: auto;
}

.platformRow {
    display: flex;
    padding-bottom: 10px;
}

.platform {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 4px;
    padding-left: 5px;
    padding-right: 5px;
    flex: 1;
}

.platformInner {
    margin: 5%;
    border-radius: 10px;
    height: 10vh;
    width: min(13vw, 240px);
    display: flex;
    flex-direction: column;
}

.platformLogoNameContainer {
    display: flex;
    justify-content: center;
    height: 50%;
}

.platformLogoName {
    display: flex;
}

.platformLogo {
    width: 30%;
    max-width: 60px;
}

.platformName {
    padding-left: 5%;
    font-size: large;
    display: flex;
    align-items: center;
}

.platformPlus {
}

.button {
    height: 10%;
}

/* mobile portrait mode */
@media only screen and (max-device-width: 600px) {
    .content {
        flex-direction: column;
    }

    .right {
        margin-bottom: 20vh;
    }

    .left {
        height: 45vh;
    }

    .leftPicker {
        width: 80vw;
        height: 80%;
    }

    .rightContentContainer {
        width: 80vw;
    }

    .platformInner {
        width: 50vw;
        height: 7vh;
    }
}

/* mobile landscape mode */
@media only screen and (max-device-height: 500px) {
    .left {
        width: 50vw;
    }

    .right {
        width: 50vw;
    }

    .rightContent {
        height: 80vh;
    }

    .leftPicker {
        height: 80vh;
    }

    .platformRow {
        padding-bottom: 3px;
    }
}

/* 1 platform per row */
@media only screen and (max-device-width: 950px) and (min-device-width: 601px) {
    .platformInner {
        width: 20vw;
    }
}

/* desktop screen */
@media only screen and (min-device-width: 951px) {
    .left {
        flex: 1;
    }

    .right {
        flex: 2;
    }
}
