.container {
    width: 100vw;
    height: 100vh;
    background-color: var(--theme-light-blue); 
    display: flex;
    flex-direction: column;
}

.section {
    flex: 1;
    display: flex;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
}

.header {
    margin-bottom: 15px;
    font-size: large;
}

.description {

}