.container {
    margin: 2%;
    margin-top: 1vh;
    text-align: left;
    width: 96%;
}

.header {
    height: 5vh;
    min-height: 20px;
    padding-bottom: 3px;
    display: flex;
}

.headerLeft {
    height: 100%;
    width: 50%;
    display: flex;
}

.headerRight {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.logo {
    height: 100%;
    width: 10%;
    margin-right: 10px;
}

.profPicContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profPic {
    height: 4vmin;
    width: 4vmin;
    border-radius: 50%;
    overflow: hidden;
}

.close {
    height: 100%;
    width: 15%;
    color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    padding-top: 5px;
    width: 100%;
}

.titleCaption {
    padding-top: 10px;
    width: 100%;
}

.details {
    background-color: white;
    border-radius: 4px;
    box-shadow: 5px 5px lightgray;
    padding: 2%;
    width: 100%;
}

.extraDetails {
    padding-top: 5px;
    font-size: small;
}

.separator {
    border-bottom: 1px solid black;
    width: 100%;
}

.stats {
    margin-top: 20px;
    background-color: white;
    box-shadow: 5px 5px lightgray;
    border-radius: 10px;
    padding: 2%;
}

.stat {
    display: flex;
    height: 5vh;
}

.statName {
    flex: 1;
    display: flex;
    align-items: center;
}

.statValue {
    flex: 1;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.media {
    border: 1px solid lightgrey;
    border-radius: 5px;
    width: 100%;
}

.statsRow {
    /* border: 1px solid black;
    border-radius: 4px; */
    display: flex;
}

.statsStat {
    font-size: small;
    border: 1px solid black;
    border-radius: 4px;
    flex: 1;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}