.container {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
}

.content {
    z-index: 1;
    width: 96vw;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-bottom: 20vh;
    display: flex;
}

.contentLeft {
}

.contentLeftPicker {
    padding-top: 10px;
    height: 80vh;
}

.contentRight {
    height: 100%;
}

.contentTop {
    display: flex;
    align-items: center;
}

.contentBottom {
    min-height: 55%;
    margin-left: 1vw;
}

.viewPicker {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1%;
}

.popup {
    /* border: 1px solid black; */
    border-radius: 5px;
    width: min(90vw, 600px);
    height: 80vh;
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background-color: hsl(220, 29%, 94%);
    overflow-y: auto;
}

.popupBackground {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 5px;
    background-color: black;
    opacity: 0.5;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
}

@media only screen and (max-device-width: 600px) {
    .content {
        flex-direction: column;
    }
    
    .contentRight {
        margin-top: 1vh;
    }

    .contentBottom {
        margin-left: 0;
    }

    .contentLeftPicker {
        height: 100%;
    }
}
