.container {
    border-radius: 10px;
    /* margin-top: 1%; */
    background-color: white;
    box-shadow: 5px 5px lightgray;
    overflow: hidden;
}

.header {
    display: flex;
    height: 5vh;
}

.headerField {
    font-size: calc(10px + 1vmin);
}

.headerFieldSmallFont {
    font-size: calc(5px + 1vmin);
}

.headerFieldLong {
    text-align: left;
    flex: 3;
}

.postFieldLong {
    font-size: small;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex: 3;
}


.headerFieldShort {
    text-align: left;
    flex: 1;
}

.postFieldShort {
    font-size: small;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.headerFieldProfileName {
    text-align: left;
    flex: 5;
}

.postFieldProfileName {
    font-size: small;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex: 5;
}

.fieldContent {
    flex: 1;
    overflow: hidden;
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 10%;
}

.headerInner {
    display: flex;
    width: 100%;
}

.headerName {
    width: 80%;
    display: flex;
    align-items: center;
}

.headerIcon {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: grey;
    margin-right: 2%;
}

.post {
    display: flex;
    height: 5vh;
    border-top: 1px solid black;
}

.logo {
    height: 70%;
    width: 40%;
}

.profPic {
    height: min(5vmin, 30px);
    width: min(5vmin, 30px);
    border-radius: 50%;
    overflow: hidden;
}

@media only screen and (max-device-width: 600px) {
    .headerFieldProfileName {
        flex: 3;
    }
    
    .postFieldProfileName {
        flex: 3;
    }
}