.containerExpanded {
    /* border: 1px solid black; */
    border-radius: 10px;
    overflow: auto;
    height: 100%;
    width: 100%;
    background-color: white;
    box-shadow: 5px 5px lightgray;
}

.headerExpanded {
    display: flex;
    margin-top: 4%;
}

.headerTextExpanded {
    display: flex;
    margin-left: 10px;
    flex: 1;
    color: grey;
}

.headerMinimizeExpanded {
    display: flex;
    justify-content: right;
    margin-right: 3%;
    flex: 1;
}

.profileContainerExpanded {
    margin-bottom: 10px;
}

.profileExpanded {
    border: 1px solid lightgray;
    border-radius: 10px;
    display: flex;
    margin: 5px;
    overflow: hidden;
    height: 8vh;
    background-color: white;
    /* box-shadow: 3px 3px lightgray; */
}

.profileExpanded:hover {
    background-color: lightblue;
}

.profilePlatformExpanded {
    flex: 1;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profilePlatformLogoExpanded {
    height: 50%;
    width: 100%;
    position: relative;
    display: block;
}

.profileDetailsExpanded {
    /* border: 1px solid black; */
    flex: 2;
    position: relative;
}

.profilePicOverlayExpanded {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
}

.profilePicExpanded {
    height: 3vw;
    width: 3vw;
    border-radius: 50%;
    overflow: hidden;
}

.profileCoverExpanded {
    height: 50%;
    display: flex;
    justify-content: flex-end;
}

.platformLogoExpanded {
    display: block;
    width: 12%;
    margin-right: 5px;
}

.profileUsernameExpanded {
    height: 50%;
    text-align: right;
    padding-top: 2%;
    font-size: large;
    padding-right: 4%;
}

.profileDeleteExpanded {
    height: 2vh;
    display: flex;
    justify-content: right;
}

.containerMinimized {
    /* border: 1px solid black; */
    border-radius: 40px;
    overflow-y: auto;
    height: 100%;
    margin-right: 5px;
    width: 100%;
    background-color: white;
    box-shadow: 5px 5px lightgray;
    margin-top: 10px;
    overflow-x: hidden;
}

.expandMinimized {
    margin-top: 4%;
}

.profileMinimized {
    height: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.profilePicMinimized {
    height: 2vw;
    width: 2vw;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
}