.container {
    width: 100%;
    height: 100%;
    display: flex;
}

.left {
    width: 40%;
    border-right: 1px solid lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid lightgrey;
    background-color: #7cabf7;
}

.contentLeft {
    width: 100%;
    color: white;
    margin: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin-bottom: 1%;
}

.icons {
    width: 40%;
    max-width: 135px;
    display: flex;
    margin-top: 3%;
    background-color: white;
    border-radius: 5px;
}

.icon {
    flex: 1;
    margin: 5px;
}

.screenshot {
    width: 80%;
    overflow: hidden;
    margin-top: 10%;
}

.right {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.authenticator {
    border-radius: 10px;
    background-color: white;
    padding: 5%;
    box-shadow: 5px 5px lightgrey;
    width: 45vw;
    max-width: 600px;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.accessCode {
    border: 1px solid lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.header {
    font-size: 2vh;
    color: grey;
    width: 90%;
}

.headerSmallText {
    font-size: 2vh;
    color: grey;
    width: 90%
}

.status {
    font-size: max(1vh, 13px);
}

.submit {
    margin-top: 3vh;
}

.smallButton {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

.textField {
    margin-top: 2vh;
    width: 60%;
}

.grow { 
    transition: all .2s ease-in-out; 
}
    
.grow:hover { 
    transform: scale(1.1); 
}

@media only screen and (max-device-width: 800px) {
    .container {
        flex-direction: column;
    }

    .left {
        width: 100%;
        flex: 1;
    }

    .right {
        width: 100%;
        flex: 1;
    }

    .authenticator {
        width: 95%;
    }

    .screenshot {
        max-width: 400px;
    }
}